google-genai
clip-interrogator
openai-clip
pillow
requests
tqdm
aiohttp
aiofiles
faiss-cpu
python-dotenv
torch
numpy
scikit-learn
gradio
ultralytics
stripe
flask_bootstrap
Flask-WTF
flask-login
Flask-SQLAlchemy
Flask-Mail
email-validator